.experience {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    text-align: center;
    padding: 2rem;
    position: relative;
    transition: background-color 0.5s ease-in-out;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.leftColumn,
.rightColumn {
    flex: 1;
    min-width: 300px;
}

.leftColumn {
    max-width: 300px;
    text-align: left;
    background-color: #282c34;
    color: #ffffff;
    padding: 1rem;
    border-radius: 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
}

.leftColumn h2 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 0;
}

.rightColumn {
    text-align: left;
    max-width: 800px;
    background-color: #ffffff;
    color: #555;
    padding: 1rem;
    border-radius: 5px;
}

.experience ul {
    list-style: none;
    padding: 0;
}

.experience li {
    margin-bottom: 1.5rem;
}

.experience h3 {
    font-size: 1.2rem;
    color: #333;
}

.experience h4 {
    font-size: 1rem;
    color: #777;
}

.experience p {
    font-size: 1rem;
    color: #555;
}

.typing {
    font-size: 1.2rem;
    line-height: 1.8;
    white-space: pre-wrap;
    position: relative;
}

.caret {
    display: inline-block;
    width: 1px;
    background-color: #555;
    animation: blink 1s step-end infinite;
}

@keyframes blink {

    from,
    to {
        visibility: hidden;
    }

    50% {
        visibility: visible;
    }
}

.scrollArrows {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    bottom: 20px;
}