body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #e0e0e0;
  color: #333;
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #007bff;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0.5rem 0;
}